.button-container{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(87, 85, 85);
    color: white;
    flex: 1;
    border: 1px solid black;
    margin: 0.55%;
}
.button-container:hover{
    border: 1px solid rgb(253, 201, 237);
}

@media(max-width:500px){
    .button-container{
        height: 3.3rem;
    }
}