body{
    text-align: center;
    background-color: #c9cece;
    background-image: url("bg2.jpeg");
    background-size: contain;
}

.text1{
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    margin-right: 1rem;
    margin-top: 5rem;
    padding-top: 3%;
}
.bar{ 
    background-color: #FFFFFF;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
#logo{
    height: 2rem;
}
#nav-name{
    font-weight: bold;
}

button{
    height: 2rem ;
    color: white;
    background-color:#EA6D27;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
#heading{
    margin-top: 10%;
    font-weight: 700;
    font-size: 2.5rem;
font-family: "David Libre", serif;
}
#para1{
    margin-top: 2%;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    width: 25%;
    text-align: center;
    margin-left: 37%;
}
#reviews{
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}
.rev1{
  position: absolute; 
  margin-top: 10% ;
  margin-left: -5%;
  height: 10rem;
}
#rect1{
    background: white;
    height: 20rem;
    width: 40%;
    position: static;
    margin-left: 30%;
    margin-top: 15%;
    border: none;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.stars{
    padding-top: 20%;
}
.desc{
    text-align: center;
    font-weight: lighter;
    color: #5C6574;
    font-size: 1rem;
    width: 70%;
    padding-left: 13%;
}
.name{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.job{
    color: #5C6574;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: -2%;
}

@media(max-width:900px){
    .bar{
        display: flex;
        gap: 10%;
    }
    .nav-text{
        display: flex;
        justify-content: center;
        margin-top: -17%;
        width: 300px;
        font-size: 0.3rem;
    }
    #para1{
        width: 80%;
        margin-left: 10%;
    }
    #rect1{
        width: 60%;
        height: 400px;
        margin-left: 20%;
    }
    .stars{
        padding-top: 40%;
    }
    .rev1{
        margin-left : -5rem;
    }
}